<div ui-tree>
    <ol ui-tree-nodes="" ng-model="inventories">
        <li ng-repeat="inventory in inventories" ui-tree-node>
            <div ui-tree-handle>
                {{inventory.InventoryId}}
            </div>
            <ol ui-tree-nodes="" ng-model="inventory.ProductCategories">
                <li ng-repeat="productcategory in inventory.ProductCategories" ui-tree-node>
                    <div ui-tree-handle>
                        {{productcategory.ProductCategoryName}}
                    </div>
                    <ol ui-tree-nodes="" ng-model="productcategory.ProductSubcategories">
                        <li ng-repeat="productsubcategory in productcategory.ProductSubcategories" ui-tree-node>
                            <div ui-tree-handle>
                                {{productsubcategory.ProductSubcategoryName}}
                            </div>
                            <ol ui-tree-nodes="" ng-model="productsubcategory.Products">
                                <li>
                                    <div ui-tree-handle>
                                        <table style="width:100%">
                                            <thead>
                                                <tr>
                                                    <td style="width:40%"><u>Title</u></td>
                                                    <td style="width:15%"><u>Price</u></td>
                                                    <td style="width:15%"><u>Color</u></td>
                                                    <td style="width:15%"><u>Size</u></td>
                                                    <td style="width:15%"><u>Quantity</u></td>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="product in productsubcategory.Products" ui-tree-node>
                                                <tr>
                                                    <td>{{product.Title}}</td>
                                                    <td>{{product.Price}}</td>
                                                    <td>{{product.Color}}</td>
                                                    <td>{{product.Size}}</td>
                                                    <td>{{product.Quantity}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
</div>

<!--<pre>{{inventories | json}}</pre>-->